%center.h1.center Welcome to my app
- if user_signed_in?
  %div
    Welcome #{current_user.email}
  = button_to "Sign out", destroy_user_session_path, method: :delete
  = link_to "List of products", products_path
  = link_to "cart", cart_path(current_user)

- else
  = button_to "Sign in", new_user_session_path
  = link_to "Sign up", new_user_registration_path